.form-messages {
    height: max-content;

    select {
        width: max-content;
    }


    .btn-form-messages {
        font-size: 13px;
        background-color: #00ABE8;
        color: white;
        font-weight: bold;
        border-radius: 10px;
    }
}